@import "tailwindcss";

:root {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.brown {
  background-color: #a86828;
}

.gold {
  background-color: #d1aa2a;
  color: white;
}